* {
    box-sizing: border-box;
}
body,html {
    margin:0;
    padding:0;
    background-color: #dbdbdb; 
    /* background-color: white; */
    color:black;
    font-family: 'Courier New', Courier, monospace
}
/* HEADER */
.container {
    max-width: 1300px;
    height: 815px;
    border: 1px solid black;
    font-size: 13px;
    background-color:white;
}
.navMenu a {
    color: black;
}
.navMenu a:hover {
    outline: 1px solid black;
    color: #BB3FB0; 
}
#header button:hover {
    outline: 1px solid black;
    color: #BB3FB0; 
} 
/* LOGO */
.logo {
    display: block;
    position: absolute;
}
/* MAIN MENU */
.mainMenu {
    position: relative;
    margin: 0;
}
/* COLUNM MENU */
.colunmMenu {
    margin: 0;
    padding: 0;
    border: 1px solid black;
}
/* ENTERNAV */
.enternav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    background-color: #dbdbdb;
    color: black;
    font-size: 13px;
    outline: 1px solid black;
}
.enternav label {
    margin: 10px;
}
.enternav input {
    background-color:transparent;
    padding: 0; 
    border: 1px solid black;
    border-radius: 0;
    text-align: left;
}
.enternav input:hover {
    background-color: #BB3FB0;
}
.enternav input:focus {
    border-color: black;
    transition: 0.35s ease;
    color: white;
}
.enternav span {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    color: black;
    display: block;
    position: relative;
    transition: 0.3s;
}
.enternavSpan:hover {
    outline: 1px solid black;
    color: #BB3FB0;
}
.enternav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    color: black;
    display: block;
    transition: 0.3s;
}
.enternav a:hover {
    color: #BB3FB0;
}
  
.enternav .closebtnEnter {
    padding:10px;
    margin:0;
    display: block;
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 26px;
    margin-left: 50px;
}
/* SIDENAV */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    background-color: rgb(0, 0, 0);
    color: black;
    font-size: 13px;
    outline: 1px solid black;
    background-color: #dbdbdb;
  }
.sidenav span {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    color: black;
    display: block;
    position: relative;
    transition: 0.3s;
  }
.sidenavSpan:hover {
    outline: 1px solid black;
    color: #BB3FB0;
  }
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    color: black;
    display: block;
    transition: 0.3s;
  }
  
.sidenav a:hover {
    color: #BB3FB0;
  }
  
.sidenav .closebtn {
    padding:10px;
    margin:0;
    display: block;
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 26px;
    margin-left: 50px;
}
/* SEARCH */
.search-container{
    width: 100%;
    display: block;
    background-color: transparent;
}
input#search-bar{
    text-align: right;
    margin: 0 auto;
    width: 100%;
    height: 45px;
    padding: 0 20px;
    font-size: 13px;
    border: 1px solid #D0CFCE;
    outline: none;
    background-color: transparent;
}
#search-bar:focus{
    border: 1px solid black;
    transition: 0.35s ease;
    color:#BB3FB0;
}
#search-bar::-webkit-input-placeholder{
    transition: opacity 0.45s ease; 
    color: black;
}
#search-bar::-moz-placeholder {
    transition: opacity 0.45s ease; 
    opacity: 0;
}
#search-bar:-ms-placeholder {
    transition: opacity 0.45s ease; 
    opacity: 0;
}
/* MAIN  */
main {
    border-left: 1px solid black;
    border-right: 1px solid black;
    position: relative;
    width: 100%;
    height: auto;
}
main>img {
    border: 2px solid black;
    align-items: flex-end;
}
main h1 {
    text-align: right;
    font-size:18px;  
}
/* LOOKBOOK */
.gallery {
    text-align: center;
}
/* CONTATO */
.contato h2 {
    font-size:14px;
}
.contato {
    height: auto;
    margin: 0 auto;
    font-size: 13px;
    position: relative;
    text-align: right;
}
.contato label {
    margin: 10px;
}
.contato input, .contato textarea {
    padding: 0;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 0;
    text-align: right;
}
.contato input:focus, .contato textarea:focus {
    border-color: black;
    transition: 0.35s ease;
    color: white;
}
.contato input:hover, .contato textarea:hover {
    background-color:#BB3FB0;
}
button {
    margin: 0;
    padding: 0;
    border-radius: 0;
}
.contato .btn {
    text-align: right; 
    border: 1px solid black;
}
.contato .btn:hover {
    color:#BB3FB0;
}
.form-control {
    color:#BB3FB0;
}
/* SOBRE */
.sobre {
    border: 1px solid black;
    margin: 15px;
    padding: 15px;
}
.sobre:hover {
    outline: 1px solid black;
    height: auto;
}
.sobre h2 {
    font-size: 14px;
    text-align: center;
}
.sobre h2:hover {
    text-shadow: 2px 70px 2px #BB3FB0;
    position: relative;
    word-wrap: break-word;
    overflow: scroll;
}

/* CADASTRO */
.cadastro {
    height: auto;
    margin: 0 auto;
    font-size: 13px;
    position: relative;
    text-align: right;
}
.cadastro label {
    margin: 10px;
}
.cadastro input, .cadastro textarea {
    padding: 0;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 0;
    text-align: right;
}
.cadastro input:hover, .cadastro textarea:hover {
    background-color:#BB3FB0;
}
.cadastro input:focus, .cadastro textarea:focus {
    border-color: black;
    transition: 0.35s ease;
    color: black;
}
.cadastro .btn {
    text-align: right; 
    border: 1px solid black;
}
.cadastro .btn:hover {
    color:#BB3FB0;
}
/* SHOP */
.shop a:link {
    text-decoration: none;
}
.shop a:hover {
    outline: 1px solid black;
}
.shop h1 {
    font-size: 18px !important;
}
.shop h4 {
    font-size: 15px;
    color:black;
}

.shop h1:hover, .shop h4:hover {
    color:#BB3FB0;
    text-decoration: none;
}
/* FOOTER */
footer {
    border: 1px solid black;
}
footer a {
    color: black;
}
footer a:hover {
    color: #BB3FB0;
}
/* MARQUEE */
marquee {
    background-color: transparent;
    color: black;
    height: auto;
    padding:0;
    margin: 0;
}

/* QUERIES  */
@media (min-width: 1000px) {
    /* HEADER */
    .container {
        max-width: 1300px;
        border: 1px solid black;
    }
    /* FOOTER */
    .footer {
        flex-direction: column;
    }
}
